<!Doctype html>
<html>
	<head>
		<title>shopping list</title>
		<link rel='stylesheet' href='static/style.css'>
	</head>

	<body>
		<h1>grocery list</h1>
		<hr>
		<div class='list'></div>
		<hr>
		<form class='add'>
			<input class='item' type='text' placeholder='add new item'  onchange='previewName()' required>
			<input class='image' type='file' onchange='previewFile()'>
			<button onclick="add_new_item_to_server()">➕</button>
			<p></p>
			<div class='example'>
				<img class='preview_img' src='' height='200' alt='Image preview...'>
				<p class='preview_name'> </p>
			</div>
			<div class='message'><P>message: </P></div>
		</form>
	<script src='static/main.js'></script>
	</body>
</html>
