

.morty {
	height: 50vh;
	margin: 200px;
}

.hair {
	position: absolute;
	width: 210px;
	height: 210px;
	border-radius: 44%;
	background: #99510d;
	top: 165px;
	left: 190px;
	border: 1px solid black;
	transform: rotate(30deg);
}

.face {
	position: relative;
	width: 200px;
	height: 200px;
	background: #f7d2be;
	border-radius: 45%;
	position: absolute;
	border: 2px solid black;
	z-index: 1
}

.eyebrow1 {
	position: absolute;
	width: 50px;
	height: 5px;
	background: black;
	transform: rotate(-20deg);
	top: 50px;
	left: 60px;
}

.eyebrow2 {
	position: absolute;
	width: 40px;
	height: 5px;
	background: black;
	transform: rotate(20deg);
	top: 50px;
	right: 0px;
}

.eyes {
	position: relative;
}

.eye1 {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 47%;
	background: white;
	margin-right: 10px;
	top: 60px;
	left: 60px;
	border: 2px solid black;
}

.eye2 {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 47%;
	background: white;
	top: 60px;
	right: -10px;
	border: 2px solid black;
}

.eyeball1 {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: black;
	top: 20px;
	left: 20px;
}

.eyeball2 {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: black;
	top: 20px;
	right: 30px;
}

.nose {
	position: absolute;
	height: 20px;
	width: 15px;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 50%;
	border: 2px solid black;
	border-top-color: transparent;
	left: 130px;
	top: 110px;
	transform: rotate(-50deg);
}

.ear {
	position: absolute;
	height: 30px;
	width: 25px;
	border-radius: 50%;
	border: 2px solid black;
	border-right-color: transparent;
	background: #f7d2be;
	top: 110px;
	left: -11px;
	
}

.mouth {
	position: absolute;
	height: 20px;
	width: 60px;
	border-top-right-radius: 30%;
	border-top-left-radius: 90%;
	top: 155px;
	left: 100px;
	box-shadow: 0 -5px 1px -2px black;
	/*box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
}

.upperbody {
	position: relative;
}

.tshirt {
	position: absolute;
	height: 200px;
	width: 130px;
	background: yellow;
	top: 180px;
	left: 30px; 
	border: 2px solid black;
	border-top-left-radius: 40%;
	border-top-right-radius: 40%;
}

.sleeve1 {
	position: absolute;
	height: 45px;
	width: 30px;
	background: yellow;
	border: 2px solid black;
	border-top: transparent;
	top: 248px;
	left: 30px;
	border-top-left-radius: 10%;
	z-index: 1;
}

.sleeve2 {
	position: absolute;
	height: 55px;
	width: 10px;
	background: yellow;
	border: 2px solid black;
	border-top: transparent;
	top: 238px;
	left: 160px;
	border-top-right-radius: 100%;
	z-index: 1;
}

.arm1 {
	position: absolute;
	height: 126px;
	width: 25px;
	background: #f7d2be;
	top: 280px;
	left: 30px;
	border: 2px solid black;
	border-top: transparent;
	border-bottom: transparent;
	z-index: 0;
}


.fingerL1 {
	position: absolute;
	height: 13px;
	width: 5px;
	background: #f7d2be;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 50%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 400px;
	left: 30px;
}

.fingerL2 {
	position: absolute;
	height: 18px;
	width: 5px;
	background: #f7d2be;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 50%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 402px;
	left: 35px;
}

.fingerL3 {
	position: absolute;
	height: 25px;
	width: 5px;
	background: #f7d2be;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 50%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 402px;
	left: 41px;
}

.fingerL4 {
	position: absolute;
	height: 18px;
	width: 5px;
	background: #f7d2be;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 50%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 400px;
	left: 47px;
}

.fingerL5 {
	position: absolute;
	height: 12px;
	width: 6px;
	background: #f7d2be;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 50%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 394px;
	left: 53px;
	transform: rotate(-30deg);
	z-index: 1;
}

.arm2 {
	position: absolute;
	height: 130px;
	width: 25px;
	background: #f7d2be;
	top: 280px;
	left: 144px;
	border: 2px solid black;
	border-top: transparent;
	border-bottom: transparent;
	z-index: -1;
}


.fingerR1 {
	position: absolute;
	height: 13px;
	width: 5px;
	background: #f7d2be;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 90%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 400px;
	left: 143px;
	z-index: -1;
}

.fingerR2 {
	position: absolute;
	height: 18px;
	width: 5px;
	background: #f7d2be;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 90%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 402px;
	left: 149px;
}

.fingerR3 {
	position: absolute;
	height: 25px;
	width: 5px;
	background: #f7d2be;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 90%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 402px;
	left: 155px;
}

.fingerR4 {
	position: absolute;
	height: 18px;
	width: 4px;
	background: #f7d2be;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 90%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 400px;
	left: 161px;
}

.fingerR5 {
	position: absolute;
	height: 15px;
	width: 6px;
	background: #f7d2be;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 50%;
	border: 2px solid black;
	border-top-color: transparent;
	top: 395px;
	left: 168px;
	transform: rotate(-30deg);
	z-index: 1;
}

.pants1 {
	position: absolute;
	height: 30px;
	width: 90px;
	background: #092560;
	top: 580px;
	left: 265px; 
	z-index: -1;
}

.pants2 {
	position: absolute;
	height: 220px;
	width: 35px;
	background: #092560;
	top: 610px;
	left: 265px; 
}

.pants3 {
	position: absolute;
	height: 220px;
	width: 35px;
	background: #092560;
	top: 610px;
	left: 320px; 
}

.shoe1 {
	position: absolute;
	height: 50px;
	width: 32px;
	background: #adb7c9;
	top: 822px; 
	left: 257px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 2px solid black;
	transform: rotate(20deg);
	z-index: -1;
}

.shoe2 {
	position: absolute;
	height: 30px;
	width: 80px;
	background: #adb7c9;
	top: 825px; 
	left: 320px;
	border-bottom-left-radius: 20%;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 10%;
	border: 2px solid black;
}


